body {
  background: url(../images/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-attachment: fixed;
}

body {
  background: url(../images/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-attachment: fixed;
}

.diary_background {
  background-color: rgba(60, 60, 60, 0.7);
}

.read_window {
  min-height: 80vh;
  color: white;
}

.title_font {
  font-family: "Cedarville Cursive", cursive;
  font-size: 42px;
  text-align: center;
}

.entry_font {
  font-family: "Cedarville Cursive", cursive;
  font-size: 25px;
}

.img_pic {
  background: url("../images/img2.jpg") center;
  background-size: cover;
  height: 80vh;
}

.img_pic_me {
  background: url("../images/me.jpg") center;
  background-size: cover;
  height: 80vh;
}

.socials {
  text-align: center;
}
